<h1>Editing repository</h1>

<% form_for @repository, :url => repository_url(:id => @repository,  :method => :put) do |f| %>
  <%= render :partial => 'form',:locals=> {:f => f} %>
<% end %>

<%= link_to 'Back to Repository Listing', repositories_path %>
