<% @title = t('.edit_repository') -%>

<h2><%= @title -%></h2>

<% form_for @repository, :url => repository_url(:id => @repository,  :method => :put) do |f| %>
  <%= render :partial => 'form', :locals=> { :f => f } %>
<% end %>

<%= link_to t('.back_to_repositories'), repositories_path %>
