<h1>Listing Repositories</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
  </tr>

<% @repositories.each do |repository| %>
  <tr>
    <td><%= repository.name %></td>
    <td><%= link_to ('Show', url_for_repository(repository.id)) %></td>
    <td><%= link_to ('Edit', url_to_edit_repository(repository.id)) %></td>

  </tr>
<% end %>
</table>

<br />
<%= link_to "Create New Repository" , url_for_new_repository %>
