<% @title = t('.title') -%>

<h2><%= @title -%></h2>

<% form_for @repository, :url => repositories_url(:method => :post) do |f| %>
  <%= render :partial => 'form', :locals=> { :f => f } %>
<% end %>

<%= link_to t('.back_to_repositories'), repositories_path %>
