<h1>Listing Tracking Lists</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
  </tr>

<% @tracking_lists.each do |tracking_list| %>
  <tr>
    <td><%= tracking_list.title %></td>
    <td><%= link_to 'Show', tracking_list %></td>
    <td><%= link_to 'Edit', edit_tracking_list_path(tracking_list) %></td>
  </tr>
<% end %>
</table>