<h1>Listing Tracking Lists</h1>

<table>
  <tr>
    <th>ID</th>
    <th></th>
    <th></th>
  </tr>

<% @tracking_lists.each do |tracking_list| %>
  <tr>
    <td><%= tracking_list.id %></td>
    <td><%= link_to 'Show', url_for_tracking_list(tracking_list.id) %></td>
  </tr>
<% end %>
</table>

<%= link_to "Create New Tracking List" , url_for_new_tracking_list %>
