<% @title = t('.title', :name => h(@repository.name)) -%>

<h2><%= @title -%></h2>

<%= render :partial => 'tracking_lists', :locals => { :repository => @repository, :tracking_lists => @tracking_lists } -%>

<p><%= button_to t('.new'),
       repository_tracking_lists_url(:repository_id => @repository, :method => :post) %></p>

<p><%= link_to t('.back_to', :name => h(@repository.name)), repository_url(:id => @repository) %></p>

