<h1>Listing Tracked Items</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
  </tr>

<% @tracked_items.each do |tracked_item| %>
  <tr>
    <td><%= tracked_item.title %></td>
    <td><%= link_to 'Show', tracked_item %></td>
    <td><%= link_to 'Edit', edit_tracked_item_path(tracked_item) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tracked Item', new_tracked_item_path %>
