<table>
  <thead>
    <tr>
      <th><%= t('.code') -%></th>
      <th><%= t('.status') -%></th>
      <th><%= t('.action') -%></th>
    </tr>
  </thead>
  <tbody>
    <%= render repository.shelf_locations %>
  </tbody>

</table>
