<tr>
  <td>
    <%= link_to shelf_location.code , 
        repository_shelf_location_url(:id => shelf_location, :repository_id => shelf_location.repository) %>
  </td>
  <td>
    <%= shelf_location.current_state_humanized -%>
  </td>
  <td>
    <%= link_to t('.edit') , edit_repository_shelf_location_url(:id => shelf_location, :repository_id => shelf_location.repository) %>
    |
    <%= link_to t('.delete') , 
        repository_shelf_location_url(:id => shelf_location, :repository_id => shelf_location.repository),
    :confirm => t('.are_you_sure'),
    :method => :delete %>
  </td>
</tr>
