<% shelf_locations = repository.shelf_locations if shelf_locations.blank? -%>
<table>
  <thead>
    <tr>
      <th><%= t('.code') -%></th>
      <th><%= t('.status') -%></th>
      <th><%= t('.action') -%></th>
    </tr>
  </thead>
  <tbody>
    <%= render shelf_locations %>
  </tbody>

</table>
