<h1>Edit Shelf Location</h1>

<% form_for(@shelf_location, 
      :url =>
        shelf_location_path( :id => @shelf_location.id,
         :urlified_name => @current_basket.urlified_name ),
      :method => :put
    ) do |f| %>

  <%= render :partial => "form", :locals => { :f => f, :repository => @shelf_location.repository } %>
  <p>
    <%= f.submit 'Update Shelf Location' %>
    <%= link_to 'Back', shelf_locations_path %>
  </p>
<% end %>

