<h1>Edit Shelf Location</h1>

<% form_for(@shelf_location, 
      :url => url_for_shelf_location( @shelf_location.id),
      :method => :put
    ) do |f| %>

  <%= render :partial => "form", :locals => { :f => f, :repository => @shelf_location.repository } %>
  <p>
    <%= f.submit 'Update Shelf Location' %>
    <br />
    <br />
    <%= link_to ('Back to Repository', url_for_repository(@repo.id)) %>
  </p>
<% end %>

