<h1>New Shelf Location</h1>

<% form_for(@shelf_location) do |f| %>
  <%= render :partial => "form", :locals => { :f => f,:repo => @repo } %>
  <p>
    <%= f.submit 'Create Shelf Location' %>
  </p>
<% end %>

<%= link_to ('Back to Repository', url_for_repository(@repo.id)) %>
