<% @title = t('.title', :name => h(@repository.name)) -%>

<h2><%= @title -%></h2>

<% form_for @shelf_location, :url => repository_shelf_locations_url(:repository_id => @repository, :method => :post) do |f| %>
  <%= render :partial => "form", :locals => { :f => f, :repository => @repository } %>
<% end %>

<%= link_to t('.back_to', :name => h(@repository.name)), repository_url(:id => @repository) %>
