<table>
  <thead>
    <tr>
      <th><%= t('.name') -%></th>
      <th><%= t('.action') -%></th>
    </tr>
  </thead>
  <tbody>
    <%= render on_loan_organizations %>
  </tbody>

  <td colspan="2" style="text-align: right"><%= will_paginate on_loan_organizations -%></td>
</table>
