<tr>
  <td>
    <%= link_to on_loan_organization.name , 
        on_loan_organization_url(:id => on_loan_organization) %>
  </td>
  <td>
    <%= link_to t('.edit') , edit_on_loan_organization_url(:id => on_loan_organization) %>
  </td>
</tr>
