<% @title = t('.title')
      @title += t('.for_name_pattern',  :name_pattern=> h(@name_pattern)) if @name_pattern
-%>

<h2><%= @title -%></h2>

<p>
  <%= t('.displaying', :start => @start_record, :end => @end_record, :total => @on_loan_organizations.total_entries) -%>
</p>

<%= render :partial => 'on_loan_organizations', :locals => { :on_loan_organizations => @on_loan_organizations } -%>
